html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
	font-family: Prociono;
}

/*.list-group-item {
	border-color: #555;
}*/

a.list-group-item {
	font-size: 150%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #ddd;
}

.logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 3px solid #e1e1e6;
    margin-top: -8%;
}

.status-p {
	font-size: 60%;
}

.description-p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 70%;
}

.fa.fa-circle {
	font-size:200%;
}

#online {
	color :green;
}

#offline {
	color: red;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}